@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h1 class="display-4">You have successfully been signed in</h1>
    <p>You can now Add to carts and buy pizzas online</p>
</div>
